.all_jobs_page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--extra-light);
    width: 100vw;
    margin: 0;
    padding-top: 80px; /* Account for fixed header */
  }
  
  .all_jobs_content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .all_jobs_content h2 {
    font-size: 30px;
  }
  
  .all_jobs_filters_container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  
  .all_jobs_search_input,
  .all_jobs_filter_select,
  .all_jobs_sort_select {
    padding: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    font-size: 14px;
    width: 30%;
  }
  
  .all_jobs_cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .all_jobs_card {
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
  }
  
  .all_jobs_card:hover {
    transform: translateY(-5px);
  }
  
  .all_jobs_card h3 {
    color: var(--primary-dark);
    margin-bottom: 10px;
  }
  
  .all_jobs_card p {
    color: var(--text-dark);
    margin: 5px 0;
  }
  
  .all_jobs_card .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .all_jobs_card button {
    flex: 1;
    margin: 5px;
    background-color: var(--primary-dark);
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .all_jobs_card button:hover {
    background-color: var(--secondary);
  }
  @media (min-width: 900px) {
    .all_jobs_cards_container {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  